<body>
	<!-- END nav -->
	<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

		<div class="slider-item" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<h1 class="mb-3 mt-5 bread">Menu</h1>
						<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ</a></span>
							<span>Menu</span>
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">


		<div class="container">
			<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">THỰC ĐƠN TỔNG HỢP</h2>
					<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
					<p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and
						Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{#each foodItems}}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{name}}</span></h3>
								<span class="price">{{price}}</span>
							</div>
							<div class="d-block">
								<p>A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
					{{/each}}
				</div>

				<div class="col-md-6">
					{{#each drinkItems}}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-5.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{name}}</span></h3>
								<span class="price">{{price}}</span>
							</div>
							<div class="d-block">
								<p>A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
					{{/each}}

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-menu">
		<div class="container-fluid">
			<div class="row justify-content-center  pb-3  pt-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">THỰC ĐƠN CHI TIẾT</h2>
					<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
					{{!-- <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and
						Consonantia, there live the blind texts.</p> --}}
				</div>
				<div class="row mt-5 d-md-flex">
					<div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0"
						style="background-image: url(images/about.jpg);">
					</div>


					<div class="col-lg-8 ftco-animate p-md-5">
						<div class="row">
							<div class="col-md-12 nav-link-wrap mb-5">
								<div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist"
									aria-orientation="vertical">
									<a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
										role="tab" aria-controls="v-pills-1" aria-selected="true">Món mặn</a>

									<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
										role="tab" aria-controls="v-pills-2" aria-selected="false">Đồ uống</a>
								</div>
							</div>
							<div class="col-md-12 d-flex align-items-center">

								<div class="tab-content ftco-animate" id="v-pills-tabContent">

									<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
										aria-labelledby="v-pills-1-tab">
										<div class="row">
											{{#each foodItems}}
											<div class="col-md-4 text-center">
												<div class="menu-wrap">
													{{#with img}}
													<a href="#">
														<img class="menu-img img mb-4 img-fit" src="{{this.[0]}}">
													</a>
													{{/with}}

													<div class="text">
														<h3><a href="#">{{this.name}}</a></h3>
														{{!-- <p>{{this.descriptions}}</p> --}}
														<p class="price"><span>{{this.price}}</span></p>
														<p>
															<a onclick="addToCart('{{this._id}}')"
																class="btn btn-white btn-outline-white">Thêm vào giỏ</a>
															{{!-- <a href="/add-to-cart/60cdb11f31f790a7202e8440"
																class="btn btn-white btn-outline-white">Thêm vào giỏ</a>
															--}}
														</p>
													</div>
												</div>
											</div>
											{{/each}}

										</div>
									</div>

									<div class="tab-pane fade" id="v-pills-2" role="tabpanel"
										aria-labelledby="v-pills-2-tab">
										<div class="row">
											{{#each drinkItems}}
											<div class="col-md-4 text-center">
												<div class="menu-wrap">
													{{#with img}}
													<a href="#" class="menu-img img mb-4">
														<img class="menu-img img mb-4 img-fit" src="{{this.[0]}}">
													</a>
													{{/with}}

													<div class="text">
														<h3><a href="#">{{name}}</a></h3>
														{{!-- <p>{{description}}</p> --}}
														<p class="price"><span>{{price}}</span></p>
														<a onclick="addToCart('{{this._id}}')"
															class="btn btn-white btn-outline-white">Thêm vào giỏ</a>

													</div>
												</div>
											</div>
											{{/each}}

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>



	{{#with cart}}
	<div class="cart">
		<label class="cart" for="modal">
			<i class="fas fa-shopping-cart"></i>
			<span id="quatity" class="quatity">{{totalQty}}</span>
		</label>
	</div>
	{{/with}}

	<input class="switcher" id="modal" type="checkbox">
	<div class="wrapper">
		<label class="btn-close" for="modal">×</label>
		<label class="overlay" for="modal"></label>
		<div class="container-2">
			<div class="modal-bg"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 ol-lg-12">
					<form>
						{{#with cart}}

						<div class="table-number">
							<span class="">Table No: 2</span>
						</div>
						<div class="table-content wnro__table table-responsive">
							<table class="table-custom">
								<thead>
									<tr class="title-top">
										<th class="product-thumbnail">Hình ảnh</th>
										<th class="product-name">Tên món</th>
										<th class="product-price">Giá</th>
										<th class="product-quantity">Số lượng</th>
										{{!-- <th class="product-note">Ghi chú</th> --}}
										<th class="product-subtotal">Thành tiền</th>
										<th class="product-remove"><i class="fas fa-trash"></i></th>
									</tr>
								</thead>
								<tbody id="cart-body">
									{{#each items}}
									<tr>
										<td class="product-thumbnail">
											<a href="">
												<img class="product-thumbnail-img" src="{{first item.img}}"
													alt="product img">
											</a>
										</td>
										<td class="product-name">
											<a href="book-detail/xyz">{{item.name}}</a>
										</td>
										<td class="product-price">
											<span class="amount">{{item.price}}<sup>đ</sup></span>
										</td>

										<td class="product-quantity">

											<input required type="number" min="1" value="{{qty}}" id="quantity-value"
												class="decreaseVal" onchange="updateCartItem('{{item._id}}')">

										</td>

				
										<td class="product-subtotal" id="price{{item._id}}">{{price}}<sup>đ</sup></td>
										<td class="product-remove">
											{{!-- <a onclick="removeCartItem('{{item._id}}')"> --}}
												<i class="fas fa-trash"></i>
												{{!-- </a> --}}
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
							<div >
									<input type="input" class="form__field" placeholder="Nhập ghi chú" name="note" id='note'
									required />
								</div>
							<div class="custom-button">
								<button onclick="order()" class="btn-custom">ĐẶT MÓN</button>
							</div>
						</div>
						{{/with}}

					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>



	{{!--
</body> --}}